/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
	 
	body{
		margin: 0;
		padding: 0; 
		font-family:"FuturaStd-Medium", Arial;
      	font-size: 12px; 
	}
	
	p {
		font-size: 13px;
      	line-height: 18px;  
	}
	ul,
	ol { 
		margin-bottom: 18px;
		}
	ul {
 		list-style-type:none; 
	}
	.headline{
		font-size:32px; 
		line-height:48px;  
		margin-bottom: 18px; 
		color:#555555;
		font-family:myFirstFont;
		font-weight:normal;
		letter-spacing:1px;
	}
	h1 {  
	    font-size: 42px; 
	    line-height: 58px; 
		font-weight:normal; 
  	}
	h2 { 
  		font-size: 	18px;  
		line-height:28px; 
		word-spacing:0px;
		margin-bottom:18px;
		font-weight:normal; 
	}
	 
	h3 {  
  		font-size: 16px;  
		line-height:22px;
		font-weight:normal;
		word-spacing:0px; 
	}
	
	h4{  
		font-size:12px;
		line-height:normal;  
		font-weight:bold;
		 
	}
	
 	a{ text-decoration:none; } 
	
	/* LOGO */
	.block-logo {
		padding-top:10px;
	}
	.logo {
		background-image:url(../images/logo.png);
		width:225px;
		height:135px;
	}	
		 
	
	/* HEADER */
	.header-utama{
		z-index:1002;
		position:fixed;
		margin:0 auto;
		width:100%;
	}
	.header { 
		clear:both; 
		padding-top:80px;
	}
	.header-row-two{ 
		clear:both;  
	}
	
	/* MARGIN */

	.align-left{
		float:left;
	}
	.align-right{
		float:right;
	}
	.align-center{
		text-align:center;
	}
	
	.text-align-left{
		text-align:left;
	}
	.text-align-right{
		text-align:right;
	}
	.text-align-center{
		text-align:center;
	}
	 
	/*  ROW 1 */
	.row1-head{
		font-family:FuturaStd-BoldOblique;
		font-size:15px;
		font-weight:bold;
	}
	.row1-top-1{
		padding-top:12px;
		text-transform:uppercase;
	}
	.row1-top-2{
		padding-top:8px;
	}
	.row1-box{
		background-color:#660099; height:31px; float:right; color:#FFFFFF; padding:0px 13px 0px 13px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.row1-box-giftee{
		background-color:#FFF; height:31px; float:right; color:#660099; padding:0px 13px 0px 13px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.row1-box-text{
		font-family:FuturaStd-Heavy;
		font-size:16px;
		font-weight:bold;
	}
	 
	.row1-fb-position{
		width: 110px;
		float:right;
	}
	.row1-fb-col1{
		float: left;
		width: 55px;
	}
	.row1-fb-col2{
		float:right;
		width: 55px;
	}
	a.row1-fb:link, a.row1-fb:visited {
		display:block; 
		width:50px; 
		height:20px;  
		background:url(../images/fb-twit.png) 0 0 no-repeat
	}
	a.row1-twitter:link, a.row1-twitter:visited {
		display:block; 
		width:55px; 
		height:20px;  
		background:url(../images/fb-twit.png) -55px 0  no-repeat
	}
	/* END ROw 1*/
	
	/* ROw 2*/
	
	/* END ROw 2*/
	
	/* ROw 3*/
	.headline{
		font-size:103px;
		line-height:108px;
		text-align:center;
		font-family:FuturaStd-Bold;
		font-weight:bold;
		text-transform:uppercase;
		color:#FFFFFF;
	}
	.headline-2{
		font-size:66px;
		line-height:68px;
		text-align:center;
		font-family:FuturaStd-Bold;
		font-weight:bold;
		text-transform:uppercase;
		color:#FFFFFF;
	}
	.row3-guy1{
		background-image:url(../images/row3-guy1.png);
		width:45px;
		height:76px;
	}
	.row3-guy1-parallax{
		width:45px;
		height:76px;
	}
	.row3-guy2{
		background-image:url(../images/row3-guy2.png);
		width:48px;
		height:75px;
	}
	.row3-guy2-parallax{ 
		width:48px;
		height:75px;
	}
	.row3-text{
		font-family:"FuturaStd-Medium", Arial;
		font-size:18px;
		line-height:24px;
		color:#FFFFFF;

	}
	.row3-arrow-block{
		position:absolute;
		top:90px;
		left:210px
	}
	.row3-arrow{
		background-image:url(../images/row3-arrow.png);
		width:395px;
		height:39px;
	}
	.row3-box{
		background-color:#fff; height:45px; float:right; color:#660099;
		 padding:0px 0px 0px 0px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width: 155px; 
	}
	.row3-box-nav{
		background-image:url(../images/nav-scrool.png);
		width: 9px;
		height: 30px;
		position: relative;
		left: 75px;
		top:-2px;  
	}
	.row3-box-text{
		font-family:FuturaStd-Bold;
		font-size:18px;
		font-weight:bold;
	}
	
	/* End row 3*/
	 
	/* ROW 4 */
	.row4-box{
		background-color:#FFFFFF; 
		-webkit-border-radius: 125px;
		-moz-border-radius: 125px;
		border-radius: 125px;
		height:125px;
		width:125px;
	}
	.row4-box-text{
		width:125px;
		margin:0 auto;
		text-align:center;
		margin-bottom:10px
	}
	.row4-guy1{
		background-image:url(../images/row4-guy1.png);
		width:121px;
		height:126px;
	}
	.row4-guy2{
		background-image:url(../images/row4-guy2.png);
		width:94px;
		height:140px;
	}
	.row4-arrow{
		background-image:url(../images/row4-arrow.png);
		width:147px;
		height:62px; 
	}
	.row4-text{
		font-size:10px;
		font-family: 'FuturaStd-BoldOblique';
		text-transform:uppercase;
		color:#a7a7a5;
	}
	.row4-container{
		height:286px; 
		background-color:#FFFFFF;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	.row4-container-text{
		font-family:FuturaStd-BoldOblique;
		font-size:31px;
		line-height:45px;
		font-weight:bold;
		text-transform:uppercase;
	}
	.row4-text-content p{
		font-family:FuturaStd-Medium;
		font-size:14px;
		line-height:26px; 
	}
	.row4-text-content.margin p{
		font-family:FuturaStd-Medium;
		font-size:14px;
		line-height:26px;
		width: 455px
	}  
	.row4-button{
		background-color:#660099;
		height:45px; float:right; color:#FFFFFF;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width:240px;
		text-align:center;
		z-index: 99999;
		position: relative;
	}
	.row4-button-text{
		font-family:FuturaStd-Heavy;
		font-size:20px; 
		color:#FFFFFF;
		padding-top:10px;
		text-align:center;
	}
	
	#row4-form .email{
		background-color:#FFFFFF;
		border:1px solid #660099;
		width:180px;
		height:28px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		font-family:FuturaStd-Medium;
		color:#d3d2d2; 
	}
	#row4-form .button{
		background-color:#660099;
		border:none;
		width:104px;
		height:32px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		color:#FFFFFF;
		font-family:FuturaStd-Heavy;
		font-size:14px;
	}

	/* --------POPUP HIDDEN------*/
	.row4-popup-position{
		position:absolute;
		padding-top: 45px;
		padding-left: 52px; 
		z-index: 9; 
	}
	.row7-popup-position{
		position:absolute;
		padding-top: 30px;
		padding-left: 0px; 
		z-index: 9; 
	} 
	.row8-popup-position{
		position:absolute;
		padding-top: 62px;
		padding-left: 60px; 
		z-index: 9; 
	}  
	.row4-popup{
		background-color:#f1f1f1;
		border:none;
		width:240px;
		height:140px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		color:#000;
		font-family:FuturaStd-Medium;
		font-size:12px; 
	}
	.block-col{
		width: 220px;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.col-a{
		float: left; 
	}
	.col-b{
		float:right;
	}
	.col-c{
		text-align:left;
		margin-left: 2px;
	}
	.col-d{ 
		margin-top: 10px;
	}
	a.icon-store-a:link, a.icon-store-a:visited {
		display:block; 
		width:107px; 
		height:32px;  
		background:url(../images/icon-store.png) 0px 0px no-repeat
	}
	a.icon-store-b:link, a.icon-store-b:visited {
		display:block; 
		width:107px; 
		height:32px;  
		background:url(../images/icon-store.png) -116px 0px no-repeat
	}
	#row4-form-popup .email{
		background-color:#FFFFFF;
		border:1px solid #660099;
		width:170px;
		height:24px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		font-family:FuturaStd-Medium;
		color:#d3d2d2; 
	}
	#row4-form-popup .button{
		background-color:#660099;
		border:none;
		width:40px;
		height:28px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		background:url(../images/button-arrow2.png) 0px 0px no-repeat
	}
	::-webkit-input-placeholder{
		padding-left: 10px;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    	padding-left: 10px;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    padding-left: 10px;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    padding-left: 10px;
	}
	/* --------END POPUP HIDDEN------*/
	/* END ROW 4 */

	/* ROW 5*/
	.row5-text{
		padding-top: 30px
	}
	/* END ROW 5*/

	/* ROW 6*/
	.block-row6{
		padding-top: 40px; 
	}
	.row6-text-1{
		font-family: 'FuturaStd-BoldOblique';
		font-size: 51px;
		color: #FFF;
		text-align: center;
		text-transform: uppercase;	
	}
	.row6-text-2{
		font-family: 'FuturaStd-BoldOblique';
		font-size: 28px;
		color: #b18cc8;
		text-align: center;
		
	}
	.box-row6{
		width:885px;
		margin:0 auto;
		background-image:url(../images/box-row6.png);
		height:364px;
		position:relative;
		margin-top: 20px;
	}
	.row6-text-3{
		font-family: 'FuturaStd-BoldOblique';
		font-size: 19px;
		color: #000;
		text-align: center;
		
	}
	.double-role{
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		height: 3px;
		margin-top: 10px;
	}
	.row6-box{
		background-color:#660099;
		-webkit-border-radius: 110px;
		-moz-border-radius: 110px;
		border-radius: 110px;
		height:110px;
		width:110px;
		margin: 0 auto;
		text-align: center;
	}
	.text-align-center div.b{ 
		width: 243px; text-align: center; font-size: 14px;
		font-family: 'FuturaStd-Medium';
		line-height: 19px;
		padding-top: 10px;  
	}
	.text-align-center div.a{ 
		font-family: 'FuturaStd-BoldOblique';
		font-size: 14px;
		font-weight: bold;
		padding-top: 8px; 
	}
	.text-align-center div.c{ 
		font-family: 'FuturaStd-BoldOblique';
		font-size: 9px; 
		padding-top: 3px; 
		color: #CCC;
	}
	.row6-ex1{
		background-image:url(../images/ex1.png);
		width: 89px;
		height: 53px;
		position: relative;
		top: 30px;
		left: 12px
	}
	.row6-ex2{
		background-image:url(../images/ex2.png);
		width: 81px;
		height: 81px;
		position: relative;
		top: 30px;
		left: 15px 
	}
	.row6-ex3{
		background-image:url(../images/ex3.png);
		width: 70px;
		height: 70px;
		position: relative;
		top: 20px;
		left: 25px
	}
	.row6-box2{
		background-color:#fff;
		-webkit-border-radius: 260px;
		-moz-border-radius: 260px;
		border-radius: 260px;
		height:260px;
		width:260px;
		margin: 0 auto;
		text-align: center;
	}
	.row6-button{
		background-color:#660099;
		height:30px; 
		color:#FFFFFF;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width:137px;
		position: relative;
		margin: 0 auto
	}
	.row6-button-text{
		font-family:FuturaStd-Heavy;
		font-size:14px; 
		color:#FFFFFF; 
		text-align:center;
		padding-top: 5px;
	}
	.row6-arrow-left{
		background-image:url(../images/arrow-left.png);
		width: 122px;
		height: 150px;
		position:absolute;
		top: -15px;
		left: 18.7%;
	}
	#row6-arrow-left-parallax{
		background-image:url(../images/arrow-left.png);
		width: 122px;
		height: 0px;
		position:absolute;
		top: -15px;
		left: 18.7%;
	}
	.row6-arrow-center{
		background-image:url(../images/nav-scrool.png);
		width: 9px;
		height: 30px;
		position:absolute;
		left: 49.5%;
		top: -15px
	}
	
	.row6-arrow-right{
		background-image:url(../images/arrow-right.png);
		width: 122px;
		height: 148px;
		position:absolute;
		right: 18.6%;
		top: -15px
	}
	.row6-arrow-right-parallax{
		background-image:url(../images/arrow-right.png);
		width: 122px;
		height: 0px;
		position:absolute;
		right: 18.6%;
		top: -15px
	}
	.row6-box2-text{
		font-family:'FuturaStd-BoldOblique';
		font-size:19px; 
		color:#000;
		padding-top:40px;
		text-align:center;
	}
	
	/* PARALLAX */
	#row6-parallax{
		position:relative;
	}
	/* END ROW 6*/

	/* ROW 7 */
	.bg-rotate{
		background-image:url(../images/bg-rotate.png);
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
		width: 694px;
		height: 694px;
		position:absolute;
		right: 65%;
		top: -200px;
		z-index: 9;    
		
	}
	.bg-rotate-position{

	}
	.bg-rotate-icon{
		background-image:url(../images/icon-rotate.png); 
		width: 168px;
		height: 78px;
		position:absolute;
		right: 95%;
		top: 120px;
		z-index: 99;
		cursor: pointer; 

	}
	.bg-rotate-stop{
		background-image:url(../images/icon-rotate.png); 
		width: 168px;
		height: 78px;
		position:absolute;
		right: 95%;
		top: 190px;
		z-index: 99;  
	}

	.row-7-content{
		z-index: 999999; 
		margin-top: 90px;
	} 
	.row-7-content-text{
		width: 460px; 
		float: right;
		text-align: left;
	}
	.row7-button{
		background-color:#FFF;
		height:30px;  
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width:107px; 
		margin: 0 auto;
		text-align: center;
		float: left;
	}
	.row7-button-1{
		background-color:#660099;
		height:30px;  
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width:237px;
		position: relative;
		margin: 0 auto;
		text-align: center;
		float: left;	
	}
	.row7-button-2{
		background-color:#FFF;
		height:30px;  
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width:207px;
		position: relative;
		margin: 0 auto;
		text-align: center; 
		float: left;
	}
	.row7-button-text{
		font-family:FuturaStd-Heavy;
		font-size:14px; 
		color:#660099;  
		padding-top: 5px;
	}
	.row7-button-text-2{
		font-family:FuturaStd-Heavy;
		font-size:16px; 
		color:#FFF;  
		padding-top: 5px;
	}
	.row7-button-text-1{
		font-family:FuturaStd-Heavy;
		font-size:14px; 
		color:#FFF; 
		padding-top: 5px;
	}
	.row7-title{ 
		font-family:'FuturaStd-BoldOblique';
		font-size:38px;
		line-height: 42px;
		color:#000;
		padding-top:20px;
		text-align:left;
		text-transform: uppercase;
		float: left;
	}

	/* END ROW 7 */

	/* ROW 8 */
	.row8-text{
		font-family: 'FuturaStd-BoldOblique';
		font-size: 23px;
		color: #000;
		text-align: center;
		padding-top: 30px;
		text-transform: uppercase;
	}
	.row8-text2{
		font-family: 'FuturaStd-BoldOblique';
		font-size: 11px;
		color: #658131;
		text-align: center;
		padding-left: 46%;
	}
	/* END ROW 8 */

	/* ROW 9 */
	.row9-title{ 
		font-family:'FuturaStd-BoldOblique';
		font-size:79px;
		line-height: 72px;
		color:#FFF;
		padding-top:40px;
		padding-bottom: 30px;
		text-align:left;
		text-transform: uppercase; 
		text-align: center;
	}
	.row9-fad{
		padding-top: 10px;
	}
	.row9-button{
		background-color:#660099;
		height:45px; float:right; color:#FFFFFF;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width:180px;
		text-align:center;
	}
	.row9-button-text{
		font-family:FuturaStd-Heavy;
		font-size:18px; 
		color:#FFFFFF;
		padding-top:10px;
		text-align:center;
	}
	.row9-text-content.margin9 p{
		font-family:FuturaStd-Medium;
		font-size:14px;
		line-height:26px;
		width: 460px;
		text-align: left;
		padding-top: 30px;
	}
	.block-click{
		padding-left: 20px;
		padding-top: 15px;
	}
	.row9-container{
		height:266px; 
		background-color:#FFFFFF;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	/* END ROW 9 */

	/* ROW 10 */
	.row10-title{ 
		font-family:'FuturaStd-BoldOblique';
		font-size:34px;
		line-height: 42px;
		color:#000;
		padding-top:40px;
		padding-bottom: 10px;
		text-align:left;
		text-transform: uppercase; 
		text-align: left;
		margin-top: 60px;
	}
	.row10-margin{
		margin-left:10px
	}
	.row10-margin5{
		margin-left:15px
	}
	.row10-margin-p p{
		font-family:'FuturaStd-Medium';
		font-size:16px;
		line-height: 26px;
		color:#000;
		margin-left: 15px;
	}
	.row10-button{
		background-color:#660099;
		float:left; color:#FFFFFF;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width:240px; 
		font-family:FuturaStd-Heavy;
		font-size:19px; 
		color:#FFFFFF;
		padding-top:15px;
		padding-bottom: 15px;
		text-align:center;
		margin-left: 60px;
		margin-top: 10px;
	}
	.row10-text1{
		font-family:'FuturaStd-BoldOblique';
		font-size:12px;
		line-height: 18px;
		color: #b2b2b2;
	}
	.row10-text2{
		font-family:'FuturaStd-BoldOblique';
		font-size:35px;
		line-height: 41px; 
	}
	.row10-text2 span.gray{
		font-family:'FuturaStd-BoldOblique';
		font-size:35px;
		line-height: 41px;
		color:#660099;
	}
	.row10-text3{
		margin-top: 10px;
	}	
	.row10-text3 ul {
		padding: 0;
		margin: 0;
	}
	.row10-text3 ul li {
		padding: 4px;
	}
	.row10-fad{
		margin-top: 30px; 
	} 
	.row10-iphone{
		position: absolute;
		z-index: 99999;
		width: 322px;
		height: 544px; 
		right: 75%;
		top: 30px;
		/*top: 350px; */ 


	}
	/* END ROW 10 */

	/* ROW 12 */
	.row12-text1{
		font-family:'FuturaStd-BoldOblique';
		font-size:26px;
		line-height: 32px;
		color: #FFF;
		text-transform: uppercase;
	}
	.row12-text2{
		font-family:'FuturaStd-BoldOblique';
		font-size:12px;
		line-height: 18px;
		color: #ba7ed9;
		text-transform: uppercase;
	}
	.row12-text3{
		font-family:'FuturaStd-BoldOblique';
		font-size:16px;
		line-height: 22px;
		color: #FFF;
		text-transform: uppercase;
	}
	/*
	.round-left{
		position: relative;
		background-image:url(../images/round-left.png);
		width: 317px;
		height: 318px;
	}
	.round-right{
		position: relative;
		background-image:url(../images/round-right.png);
		width: 317px;
		height: 318px;
		right: 30px;
	}
	*/

	.round-left{
		position: relative; 
		width: 317px;
		height: 318px;
	}
	.round-left-parallax{
		position:absolute;
		background-image:url(../images/round-left.png);
		width: 317px;
		height: 318px; 
	}
	.round-right{
		position: relative;
		background-image:url(../images/round-right.png);
		width: 317px;
		height: 318px;
		right: 30px;
	}
	.round-right-parallax{
		position:absolute;
		background-image:url(../images/round-right.png);
		width: 317px;
		height: 318px;
		left: 0px;
	}

	.row12-block{
		padding-top: 60px;
	}
	.row12-email{
		font-size: 21px;
		font-family: 'FuturaStd-Heavy';
		text-decoration: underline;
		color: #FFF;
		position: relative;
		top: 150px;
		left: 20px;
	}
	.row12-hp{
		font-size: 21px;
		font-family: 'FuturaStd-Heavy'; 
		color: #FFF;
		top: 150px;
		left: 150px;
		position: relative;
	}
	.row12-position{
		position: absolute;
		left: 210px;
		top: 190px;
		z-index: 99999;
	}
	.row12-logo{
		position:relative; 
	}
	.row12-contact{
		position:relative;
		font-family:FuturaStd-BoldOblique;
		font-size:14px;
		text-transform: uppercase;
		text-align: center;
	}
	.row12-button-2{
		background-color:#FFF;
		height:auto; 
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width:207px;
		position: relative;
		margin: 0 auto;
		text-align: center; 
		float: left;
	}
	.icon-fb{
		margin-top: 20px;
		padding-top: 10px;
		padding-bottom: 8px;

	}
	.icon-tw{
		margin-top: 20px;
		padding-top: 10px;
		padding-bottom: 8px;
	}
	.row12-fb{
		background-image:url(../images/fb.png);
		background-repeat: no-repeat;
		margin-left: 10px; 
	}
	.row12-tw{
		background-image:url(../images/tw.png);
		background-repeat: no-repeat;
		margin-left: 10px; 
	}
	.row12-text-content{
		font-family:FuturaStd-Medium;
		font-size:14px;
		line-height:26px;
		position: relative;
		right: 10px;
		top: -3px;
	}
	/* END ROW 12 */

	/* ROW 13 */
	.row13-block{
		margin-top: 50px;
	}
	.row13-block1{
		margin-top: 20px;
	}
	.row13-block2{
		margin-top: 40px;
	}
	.row13-block3{
		padding-top: 60px;
	}
	a.row13-client1:link, a.row13-client1:visited {
		display:block; 
		width:133px; 
		height:28px;  
		background:url(../images/logo-client.png) 0 0 no-repeat
	}
	a.row13-client2:link, a.row13-client2:visited {
		display:block; 
		width:130px; 
		height:28px;  
		background:url(../images/logo-client.png) -166px 0 no-repeat
	}
	a.row13-client3:link, a.row13-client3:visited {
		display:block; 
		width:130px; 
		height:28px;  
		background:url(../images/logo-client.png) -335px 0 no-repeat
	}
	a.row13-client4:link, a.row13-client4:visited {
		display:block; 
		width:133px; 
		height:28px;  
		background:url(../images/logo-client.png) -481px 0 no-repeat;
	}
	a.row13-client5:link, a.row13-client5:visited {
		display:block; 
		width:130px; 
		height:28px;  
		background:url(../images/logo-client.png) -645px 0 no-repeat
	}
	/* */
	a.row13-client6:link, a.row13-client6:visited {
		display:block; 
		width:133px; 
		height:28px;  
		background:url(../images/logo-client.png) 0 -60px no-repeat
	}
	a.row13-client7:link, a.row13-client7:visited {
		display:block; 
		width:130px; 
		height:28px;  
		background:url(../images/logo-client.png) -166px -60px no-repeat
	}
	a.row13-client8:link, a.row13-client8:visited {
		display:block; 
		width:130px; 
		height:28px;  
		background:url(../images/logo-client.png) -335px -60px no-repeat
	}
	a.row13-client9:link, a.row13-client9:visited {
		display:block; 
		width:133px; 
		height:28px;  
		background:url(../images/logo-client.png) -481px -60px no-repeat;
	}
	a.row13-client10:link, a.row13-client10:visited {
		display:block; 
		width:130px; 
		height:28px;  
		background:url(../images/logo-client.png) -645px -60px no-repeat
	}





	.uppercase{
		text-transform: uppercase;
	}
	.lowercase
	{
		text-transform: lowercase;
	}
	/* COLOR */
	.black{
		color:#000;
		font-family: 'FuturaStd-Medium';
		font-size: 14px;
	}
	.gray{
		color:#660099;
		font-family: 'FuturaStd-Heavy';
		font-size: 14px;
	}
	.bla{
		color:#000; 
	}
	.whi{
		color:#FFF; 
	}
	 
/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

 	@font-face {
	    font-family: 'FuturaStd-BoldOblique';
	    src: url('../fonts/FuturaStd-BoldOblique.otf');
	    font-weight:bold;
  	}
		
	@font-face {
	    font-family: 'FuturaStd-Heavy';
	    src: url('../fonts/FuturaStd-Heavy.otf');
	}
 
	@font-face {
	    font-family: 'FuturaStd-Bold';
	    src: url('../fonts/FuturaStd-Bold.otf');
	}
	@font-face {
	    font-family: 'FuturaStd-Medium';
	    src: url('../fonts/FuturaStd-Medium.otf');
	}

 