/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
	 
	body{
		margin: 0;
		padding: 0; 
		font-family:"FuturaStd-Medium", Arial;
      	font-size: 12px; 
	}
	
	p {
		font-size: 13px;
      	line-height: 18px;  
	}
	ul,
	ol { 
		margin-bottom: 18px;
		}
	ul {
 		list-style-type:none; 
	}
	.headline{
		font-size:32px; 
		line-height:48px;  
		margin-bottom: 18px; 
		color:#555555;
		font-family:myFirstFont;
		font-weight:normal;
		letter-spacing:1px;
	}
	h1 {  
	    font-size: 42px; 
	    line-height: 58px; 
		font-weight:normal; 
  	}
	h2 { 
  		font-size: 	18px;  
		line-height:28px; 
		word-spacing:0px;
		margin-bottom:18px;
		font-weight:normal; 
	}
	 
	h3 {  
  		font-size: 16px;  
		line-height:22px;
		font-weight:normal;
		word-spacing:0px; 
	}
	
	h4{  
		font-size:12px;
		line-height:normal;  
		font-weight:normal;  
	}
	
 	a{ text-decoration:none; } 
	
	/* LOGO */
	.block-logo {
		padding-top:10px;
	}
	.logo {
		background-image:url(../images/logo.png);
		width:225px;
		height:136px;
	}	
		 
	
	/* HEADER */
	.header-utama{
		z-index:1002;
		position:fixed;
		margin:0 auto;
		width:100%;
	}
	.header { 
		clear:both; 
		padding-top:80px;
	}
	.header-row-two{ 
		clear:both;  
	}
	
	/* MARGIN */

	.align-left{
		float:left;
	}
	.align-right{
		float:right;
	}
	.align-center{
		text-align:center;
	}
	
	.text-align-left{
		text-align:left;
	}
	.text-align-right{
		text-align:right;
	}
	.text-align-center{
		text-align:center;
	}
	 
	/*  ROW 1 */
	.row1-head{
		font-family:FuturaStd-BoldOblique;
		font-size:15px;
		font-weight:bold;
	}
	.row1-top-1{
		padding-top:12px;
		text-transform:uppercase;
	}
	.row1-top-2{
		padding-top:8px;
	}
	.row1-box{
		background-color:#660099; height:31px; float:right; color:#FFFFFF; padding:0px 13px 0px 13px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.row1-box-text{
		font-family:FuturaStd-Heavy;
		font-size:16px;
		font-weight:bold;
	}
	.row1-fb{
		background-image:url(../images/fb-twit.png);
		width:109px;
		height:20px;
	}
	/* END ROw 1*/
	
	/* ROw 2*/
	
	/* END ROw 2*/
	
	/* ROw 3*/
	.headline{
		font-size:103px;
		line-height:108px;
		text-align:center;
		font-family:FuturaStd-Bold;
		font-weight:bold;
		text-transform:uppercase;
		color:#FFFFFF;
	}
	.headline-2{
		font-size:66px;
		line-height:68px;
		text-align:center;
		font-family:FuturaStd-Bold;
		font-weight:bold;
		text-transform:uppercase;
		color:#FFFFFF;
	}
	.row3-guy1{
		background-image:url(../images/row3-guy1.png);
		width:45px;
		height:76px;
	}
	.row3-guy2{
		background-image:url(../images/row3-guy2.png);
		width:48px;
		height:75px;
	}
	.row3-text{
		font-family:"FuturaStd-Medium", Arial;
		font-size:18px;
		line-height:24px;
		color:#FFFFFF;
	}
	.row3-arrow-block{
		position:absolute;
		top:90px;
		left:240px
	}
	.row3-arrow{
		background-image:url(../images/row3-arrow.png);
		width:395px;
		height:39px;
	}
	.row3-box{
		background-color:#FFFFFF; height:45px; float:right; color:#660099; padding:0px 25px 10px 25px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.row3-box-text{
		font-family:FuturaStd-Bold;
		font-size:18px;
		font-weight:bold;
	}
	.row4-box{
		background-color:#FFFFFF; 
		-webkit-border-radius: 125px;
		-moz-border-radius: 125px;
		border-radius: 125px;
		height:125px;
		width:125px;
	}
	.row4-box-text{
		width:125px;
		margin:0 auto;
		text-align:center;
		margin-bottom:10px
	}
	/* End row 3*/
	 
	/* ROW 4 */
	.row4-guy1{
		background-image:url(../images/row4-guy1.png);
		width:121px;
		height:126px;
	}
	.row4-guy2{
		background-image:url(../images/row4-guy2.png);
		width:94px;
		height:140px;
	}
	.row4-arrow{
		background-image:url(../images/row4-arrow.png);
		width:147px;
		height:62px; 
	}
	.row4-text{
		font-size:10px;
		font-family: 'FuturaStd-BoldOblique';
		text-transform:uppercase;
		color:#a7a7a5;
	}
	.row4-container{
		height:286px; 
		background-color:#FFFFFF;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	.row4-container-text{
		font-family:FuturaStd-BoldOblique;
		font-size:31px;
		line-height:45px;
		font-weight:bold;
		text-transform:uppercase;
	}
	.row4-text-content p{
		font-family:FuturaStd-Medium;
		font-size:14px;
		line-height:26px; 
	} 
	.row4-button{
		background-color:#6600CC;
		height:45px; float:right; color:#FFFFFF;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		width:240px;
		text-align:center;
	}
	.row4-button-text{
		font-family:FuturaStd-Heavy;
		font-size:20px; 
		color:#FFFFFF;
		padding-top:10px;
		text-align:center;
	}
	
	#row4-form .email{
		background-color:#FFFFFF;
		border:1px solid #660099;
		width:184px;
		height:28px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		font-family:FuturaStd-Medium;
		color:#d3d2d2;
	}
	#row4-form .button{
		background-color:#660099;
		border:none;
		width:104px;
		height:32px;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		color:#FFFFFF;
		font-family:FuturaStd-Heavy;
		font-size:14px;
	}
	 
/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

 	@font-face {
	    font-family: 'FuturaStd-BoldOblique';
	    src: url('../fonts/FuturaStd-BoldOblique.otf');
	    font-weight:bold;
  	}
		
	@font-face {
	    font-family: 'FuturaStd-Heavy';
	    src: url('../fonts/FuturaStd-Heavy.otf');
	}
 
	@font-face {
	    font-family: 'FuturaStd-Bold';
	    src: url('../fonts/FuturaStd-Bold.otf');
	}
	@font-face {
	    font-family: 'FuturaStd-Medium';
	    src: url('../fonts/FuturaStd-Medium.otf');
	}

 