	/* menu Horizontal */ 
	#menu { 
	 	height: 0px; 
		padding: 0px 0px;
	}
	#menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#menu > ul > li {
		position: relative;
		float: left;
		z-index: 20;
		padding: 0px 0px 0px 0px;
	}
	#menu > ul > li:hover { 
	}
	#menu > ul > li > a {
		  display: inline-block; 
		  font-family:FuturaStd-Heavy;
		  font-size:15px;
		  line-height: 32px; 
	      color:#bcbcbc;
	      padding: 1px 10px; 
	      text-decoration: none; 
		  position: relative; 
		  
	} 
	#menu > ul > li > a.up { 
		  font-size:13px;
		  text-transform:uppercase;  
	} 
	#menu > ul > li  + li{ 
	}
	#menu > ul > li.active{
		  background-image:url(../images/menu-active.png);
		  height:49px; 
		  text-align:center;
		  min-height: 49px; 
		  min-width: 120px;
		  max-width: 120px;  
		  position:relative;  
	} 
	#menu > ul > li:hover > a {  
		color:#FFFFFF;
	}
	#menu > ul > li.active a{  
		color:#FFFFFF;	
	} 