#body{
	/*background-image:url(../images/grid.png);*/
	background-repeat: repeat-y;
	background-position: center;
}
#row1{
	width:100%;
	margin:0 auto;
	background-image:url(../images/bg-row1.png);
	height:48px;
	position:relative;
}
.r1{
	position: fixed;
	width:100%;
	margin:0 auto;
	background-image:url(../images/bg-row1.png);
	height:48px;
	z-index: 999999;
}
/* GIFTEE */
#row1-giftee{
	width:100%;
	margin:0 auto; 
	height:48px;
	position:relative;
}
.r1-giftee{
	position: fixed;
	width:100%;
	margin:0 auto; 
	height:48px;
	z-index: 999999;
}
/* */

#row2{
	width:100%;
	margin:0 auto;
	background-color:#000000;
	height:35px;
	position:relative;
}
.r2{
	position: fixed;
	width:100%;
	margin:0 auto;
	background-color:#000000;
	height:35px;
	z-index: 99999;
}
.bg-cut { 
	position: absolute;
	z-index: 999999;
	width: 25px;
	height: 31px;
	right: -0.1px;
	top: 35px;
	background-image:url(../images/cut.png);
} 
/*#row3{ 
	background-image:url(../images/bg-row3.png);
	height:646px;
	width:100%;
	background-repeat:repeat-x;
	background-position:center;
	margin:0 auto;
	position:relative;
}*/
#bg {
	position:fixed; 
	top:-50%; 
	left:-50%; 
	width:200%; 
	height:180%; 
}
#bg img {
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	margin:auto; 
	min-width:50%;
	min-height:50%; 
}
#row3-giftee{
	width:100%;
	margin:0 auto;
	background-image:url(../images/bg-row3-giftee.png);
	height:498px;
	position:relative;
	z-index: 999;
}
#row4-giftee{
	width:100%;
	margin:0 auto; 
	height:590px;
	position:relative;
	z-index: 999;
}
#row4{
	width:100%;
	margin:0 auto;
	background-image:url(../images/bg-row4.png);
	height:590px;
	position:relative;
	z-index: 999;
}
#row5{
	width:100%;
	margin:0 auto;
	background-image:url(../images/testimoni1.png);
	height:86px;
	position:relative;
	top: -5px;
	z-index: 9;
}
#testi1{
	position:relative;
}

#row6{ 
	width: 100%;    
	position:relative; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover; 
  	z-index: 9999;
}
#bg-mask-left { 
	position:absolute;  
	z-index:99;
	min-height: 50%;
	min-width: 500px;
	width: 50%;
	height:auto;
	height: 1000px \9;
	max-height: 1102px;
}  
#bg-mask-right { 
	position:absolute;  
	z-index:99;
	min-height: 50%;
	min-width: 500px;
	width: 50%;
	height: auto; 
	height: 1000px \9;
	max-height: 1102px;
	right: 0;
}  

#row7{
	width: 100%;
	height: 570px;    
	position:relative;
	z-index: 9;
}
#bg-mask-7{
	position:absolute;   
	min-height: 50%;
	min-width: 500px;
	width: 100%;
	height:570px;
	max-height: 570px; 
}
#row8{
	width:100%;
	margin:0 auto;
	background-image:url(../images/testimoni2.png);
	height:99px;
	position:relative;
  	z-index: 0;
	top: -6px;
	background-position: center;
}

#row9{ 
	width: 100%;    
	position:relative; 
  	z-index: 9999; 
}
#bg-mask-9{
	position:absolute;   
	min-height: 50%;
	min-width: 500px;
	width: 100%;
	height:490px;
	max-height: 490px;
	background-position: center;
}
#row10{
	width:100%;
	margin:0 auto;
	background-image:url(../images/bg-row10.png);
	height:742px;
	position:relative;
	z-index: 99;
	margin-top: 50px; 
}
#row12{ 
	width: 100%;    
	position:relative; 
  	z-index: 9999; 
  	min-height: 460px; 
}
#row13{
	width:100%;
	margin:0 auto;
	background-image:url(../images/bg-row4.png);
	height:304px;
	position:relative;
}
#row14{
	width:100%;
	margin:0 auto;
	background-color:#000000;
	height:50px;
	position:relative;
}
/* BOTH / PADDING ? MARGIN*/
#both{
	clear:both;
	padding-bottom:10px;
}


/* FOOTER */
#copyright{
	color: #808080;
	font-family:'FuturaStd-Heavy';
	font-size:12px;
	line-height: 18px;
	margin-top: 15px;
}
#footer-font{
	color: #b3b3b3;
	font-family:'FuturaStd-Heavy';
	font-size:15px;
	line-height: 22px;
}
ul#footer {
	color: #CCC;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}
ul#footer li{
	float: left;
	margin: 0;
	padding: 0;
}
ul#footer li a{
	color: #CCC;
	font-family:'FuturaStd-Heavy';
	font-size:15px;
	line-height: 22px;
} 
ul#footer li a:hover{
	color: #6B1A9E; 
} 
ul#footer li.f{
	color: #CCC;
	font-family:'FuturaStd-Heavy';
	font-size:15px;
	line-height: 22px;
	padding: 0px 10px;
} 


/* URGENT PARALLAX CSS */
.t{
	position:absolute;
	z-index:99999; 
}
