#body-top{
	width:100%;
	margin:0 auto;
	background-color:#666666;
	height:90px;
	position:fixed;
	z-index:1000;  
}
#row1{
	width:100%;
	margin:0 auto;
	background-image:url(../images/bg-row1.png);
	height:47px;
	position:relative;
}
#row2{
	width:100%;
	margin:0 auto;
	background-color:#000000;
	height:35px;
	position:relative;
}
#row3{  
	 
	 
}
.t{
position:absolute;
z-index:99999; 
}

/* js*/
#bg {
			position:fixed; 
			top:-50%; 
			left:-50%; 
			width:200%; 
			height:200%; 
}
#bg img {
			position:absolute; 
			top:0; 
			left:0; 
			right:0; 
			bottom:0; 
			margin:auto; 
			min-width:50%;
			min-height:50%; 
}
/* */
#row4{
	width:100%;
	margin:0 auto;
	background-image:url(../images/bg-row4.png);
	height:584px; 
	position:relative;
}
#row5{
	width:100%;
	margin:0 auto;
	background-color:#3333FF;
	height:auto;
	padding-bottom:20px;
}
#row6{
	width:100%;
	margin:0 auto;
	background-color:#CC66FF;
	height:auto;
	padding-bottom:20px;
}
#row7{
	width:100%;
	margin:0 auto;
	background-color:#FFF;
	height:auto;
	padding-bottom:20px;
}
#row8{
	width:100%;
	margin:0 auto;
	background-color:#FF99FF;
	height:auto;
	padding-bottom:20px;
}


/* BOTH / PADDING ? MARGIN*/
#both{
	clear:both;
	padding-bottom:10px;
}


/* FOOTER */
#footer{
	width:100%;
	margin:0 auto;
	background-color:#FF6633; 
}  